body {
	font-size: 14px;
    text-align: center;
}

nav {
    background-color: white;
}

.pokelogo {
    margin-top: 90px;
}

.list {
    width: 35%;
    margin: 0px auto;
}

.list li {
    border: none;
}

.modal p {
    font-size: 18px;
    line-height: 0.7;
}

@media all and (min-width: 800px) and (max-width: 1000px) {
	.list {
        width: 45%;
    }
}

@media all and (min-width: 600px) and (max-width: 800px) {
	.list {
        width: 55%;
    }
}

@media all and (min-width: 400px) and (max-width: 600px) {
	.list {
        width: 65%;
    }
}

@media all and (max-width: 500px) {
	.list {
        width: 75%;
    }
    .loading-text {
        font-size: 20px;
        padding: 8x;
    }
}
