body {
    text-align: center;
}

.pokelogo {
    margin-top: 80px;
}

#pikawave {
    margin-bottom: 20px;
}

.about-heading {
    margin: 14px auto;
}

.list {
    margin: 0px auto;
}

.list li {
    margin: 6px;
    width: 25%;
}

.list button {
    width: 100%;
}

.modal p {
    font-size: 18px;
    line-height: 0.7;
}

nav a p {
    display: inline;
}

@media all and (max-width: 650px) {
    .pokelogo {
        width: 200px;
        height: 73.5px;
    }
    .about-heading {
        font-size: 12px;
    }
    .pokemon-list li button {
        font-size: 12px;
    }
    .list li {
        margin: 6px;
        width: 40%;
    }
    #anythingSearch {
        width: 80px;
    }
}
